    <!-- Contact Section -->
    <section id="markets" class="container market-section text-center">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <h2>Markets</h2>

                <span class="emphasis">endangered sound</span>
                <span class="btn btn-lg">Bird Market, Quai de la Megisserie (0:34)</span>

                <div class="small" style="text-align: justify;width:50%;margin:0 auto;">The Bird Market at Quai de la Megisserie has been an institution of Parisian life for over 200 years. Every Sunday, passers by can listen to, pet and buy exotic and farm bird species. Like many markets, it is now being threatened by decreasing public interest and aesthetic sanitation from the Mayor's office. <br><br></div>
                <audio id="megisserie" src="{{ site.baseurl }}/assets/27.01.18.Quai_de_la_Megisserie_low.mp3" type="audio/mp3" preload=
                "metadata"></audio>
                <ul class="list-inline banner-social-buttons">
                <li>
                <button onclick="document.getElementById('megisserie').play()" class="btn btn-default btn-lg">&#9658;</button>
                </li>
                <li><button onclick="document.getElementById('megisserie').pause()" class="btn btn-default btn-lg">&#10074;&#10074;</button></li>
                <li><button onclick="document.getElementById('megisserie').load()" class="btn btn-default btn-lg">&#8634;</button></li>
                <li><a href="{{ site.baseurl }}/assets/27.01.18.Quai_de_la_Megisserie.mp3" download="27.01.18.Quai_de_la_Megisserie.mp3" class="btn btn-default btn-lg">download</a></li>

<!--                 <p><a href="mailto:{{ site.email }}">{{ site.email }}</a>
                </p>

                <ul class="list-inline banner-social-buttons">
                    {% for network in site.social %}
                    <li>
                        <a href="{{ network.url }}" class="btn btn-default btn-lg"><i class="fa fa-{{ network.title }} fa-fw"></i> <span class="network-name">{{ network.title }}</span></a>
                    </li>
                    {% endfor %}
                </ul>
 -->            </div>
        </div>
    </section>